/* ---------------------------MAIN-about-intro----------------------------------------------------- */

.main__about-intro {
  padding-bottom: 60px;
}

.about-intro__title:not(:last-child) {
  margin-bottom: 20px !important;
}

.about-intro__text {
  font-size: 14px;
  line-height: 142.8571428571%;
  font-weight: 300;
}

.about-intro__text:not(:last-child) {
  margin-bottom: 25px;
}

.about-intro__images {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-bottom: 25px;
}

.about-intro__image {
  position: relative;
  padding: 0 0 67% 0;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
}

.about-intro__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
}

/* ---------------------------MAIN-about-allinclusive----------------------------------------------------- */

.main__about-allinclusive {
  background: rgba(23, 23, 23, 0.9);
  padding: 70px 0 90px;
}

.about-allinclusive__title {
  line-height: 64px !important;
  font-size: 48px !important;
}

.about-allinclusive__title br {
  display: none;
}

.about-allinclusive__title:not(:last-child) {
  margin-bottom: 20px !important;
}

.about-allinclusive__text {
  font-size: 14px;
  line-height: 142.8571428571%;
  font-weight: 300;
  margin-bottom: 25px;
}

.allincl-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.allincl-benefits__block ul li {
  font-size: 14px;
  line-height: 142.8571428571%;
  font-weight: 300;
  position: relative;
}

.allincl-benefits__block ul li:not(:last-child) {
  margin-bottom: 15px;
}

.allincl-benefits__block ul li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 14px;
  height: 3px;
  border-radius: 33px;
}

.list-benefits__items {
  margin-bottom: 20px;
}

.list-benefits__item {
  padding-left: 26px;
}

.list-benefits__item::before {
  background-color: #FFC14B;
}

.list-benefits__subitems {
  max-width: 560px;
  margin-left: 26px;
}

.list-benefits__subitem {
  padding-left: 26px;
}

.list-benefits__subitem::before {
  background-color: #FFFFFF;
}

.swiper-button-prev {
  width: unset !important;
  height: unset !important;
}

.swiper-button-next {
  width: unset !important;
  height: unset !important;
}

.allincl-benefits__slider {
  max-width: 600px;
  text-align: center;
}

.allincl-benefits__slide {
  border-radius: 8px;
  overflow: hidden;
}

.allincl-benefits__slide img {
  border-radius: 8px;
  max-width: 100%;
}

.allincl-benefits__slider-prev::after {
  background-color: #FFC14B;
  width: 40px !important;
  height: 40px !important;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #191919;
  font-size: 16px !important;
}

.allincl-benefits__slider-next::after {
  color: #191919;
  background-color: #FFC14B;
  width: 40px !important;
  height: 40px !important;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px !important;
}

/* ---------------------------MAIN-about-additionally----------------------------------------------------- */

.main__about-additionally {
  padding: 60px 0;
}

.about-common__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 64px !important;
  font-size: 48px !important;
}

.about-additionally__services {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.add-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.add-service__icon {
  background: rgba(23, 23, 23, 0.9);
  border-radius: 10px;
  width: 114px;
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.add-service__icon svg {
  width: 55px;
  height: 55px;
}

.add-service__name {
  font-size: 14px;
  line-height: 142.8571428571%;
  font-weight: 600;
}

/* ---------------------------MAIN-about-corp----------------------------------------------------- */

.main__about-corp {
  background: rgba(23, 23, 23, 0.9);
  padding: 70px 0;
}

.about-corp__cards {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.corp-card__img {
  position: relative;
  padding: 0 0 55% 0;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
  margin-bottom: 20px;
}

.corp-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
}

.corp-card__name {
  font-size: 14px;
  line-height: 142.8571428571%;
  font-weight: 600;
}

.corp-card__name:not(:last-child) {
  margin-bottom: 10px;
}

.corp-card__text {
  font-size: 14px;
  line-height: 142.8571428571%;
  font-weight: 300;
}

@media (min-width: 991.98px) {
  .about-intro__image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .corp-card__img:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (max-width: 1245.98px) {
  .allincl-benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }

  .allincl-benefits__block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .list-benefits__subitems {
    max-width: unset;
    margin-left: unset;
  }

  .allincl-benefits__slider {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 25px;
  }
}

@media (max-width: 1057px) {
  .about-intro__images {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media (max-width: 991.98px) {
  .about-intro__title:not(:last-child) {
    margin-bottom: 15px !important;
  }

  .about-intro__image:last-child {
    display: none;
  }

  .about-allinclusive__title {
    line-height: 30px !important;
    font-size: 28px !important;
  }

  .about-allinclusive__title:not(:last-child) {
    margin-bottom: 15px !important;
  }

  .about-common__title {
    line-height: 30px !important;
    font-size: 28px !important;
  }
}

@media (max-width: 767.98px) {
  .about-intro__images {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }

  .main__about-allinclusive {
    padding: 40px 0 60px;
  }

  .about-allinclusive__title br {
    display: block;
  }

  .allincl-benefits__slider {
    max-width: unset;
    width: 100%;
  }

  .main__about-additionally {
    padding: 30px 0;
  }

  .about-additionally__services {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .add-service__icon {
    margin-bottom: 10px;
  }

  .add-service__name {
    font-size: 12px;
    line-height: 166.6666666667%;
  }

  .main__about-corp {
    padding: 30px 0;
  }

  .about-corp__cards {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media (max-width: 479.98px) {
  .about-intro__text:not(:last-child) {
    margin-bottom: 20px;
  }

  .about-intro__images {
    margin-bottom: 20px;
  }

  .about-intro__image:not(:first-child) {
    display: none;
  }

  .main__about-allinclusive {
    padding: 30px 0;
  }

  .about-allinclusive__title {
    line-height: 30px !important;
    font-size: 22px !important;
  }

  .about-common__title {
    line-height: 30px !important;
    font-size: 22px !important;
  }
}

@media (max-width: 379.98px) {
  .about-additionally__services {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

@media (max-width: 359.98px) {
  .about-allinclusive__title {
    font-size: 18px !important;
  }

  .about-common__title {
    font-size: 18px !important;
  }
}