.footer {
  padding: 45px 0;
  border-top: 1px solid #FFC14B;
}

.footer__block {
  position: relative;
  min-height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__block-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.footer__nav-block {
  -webkit-transition: var(--appearance__transition);
  -o-transition: var(--appearance__transition);
  transition: var(--appearance__transition);
  opacity: 0;
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
}

.footer__nav-block._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.footer__nav-block:not(:last-child) {
  margin-right: 58px;
}

.footer__nav-link {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 300%;
  font-weight: 500;
  text-transform: capitalize;
}

.footer__nav-link::after {
  background-color: #FFFFFF;
}

.footer__block-contacts {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: var(--appearance__transition);
  -o-transition: var(--appearance__transition);
  transition: var(--appearance__transition);
  opacity: 0;
  -webkit-transform: translate(120%, 0px);
      -ms-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
}

.footer__block-contacts._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.footer__block-contacts .header-contact:not(:last-child) {
  margin-right: unset;
  margin-bottom: 30px;
}

.footer__block-contacts .header-contact .header-contact__link {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__block-contacts .header-contact .header-contact__link:not(:last-child) {
  margin-bottom: 7px;
}

.footer__block-social {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 482px;
  margin-left: -241px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__block-social p {
  font-size: 14px;
  line-height: 300%;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer__social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-items a {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
      -ms-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
}

.footer__social-items._active a {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.footer__social-items._active a:nth-child(1) {
  -webkit-transition: opacity, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0s;
  transition: opacity, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0s;
  -o-transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0s;
  transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0s;
  transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0s, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0s;
}

.footer__social-items._active a:nth-child(2) {
  -webkit-transition: opacity, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.1s;
  transition: opacity, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.1s;
  -o-transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.1s;
  transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.1s;
  transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.1s, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.1s;
}

.footer__social-items._active a:nth-child(3) {
  -webkit-transition: opacity, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.15s;
  transition: opacity, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.15s;
  -o-transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.15s;
  transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.15s;
  transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.15s, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.15s;
}

.footer__social-items._active a:nth-child(4) {
  -webkit-transition: opacity, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.2s;
  transition: opacity, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.2s;
  -o-transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.2s;
  transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.2s;
  transition: opacity, transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.2s, -webkit-transform 0.5s cubic-bezier(0.27, 0.79, 0.32, 0.86) 0.2s;
}

.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #393939;
  width: 40px;
  height: 40px;
}

.footer__social-item:not(:last-child) {
  margin-right: 13px;
}

.sprite-icon__footer_vk-social {
  width: 22px;
  height: 14px;
}

.sprite-icon__footer_facebook-social {
  width: 12px;
  height: 23px;
}

.sprite-icon__footer_instagram-social {
  width: 20px;
  height: 20px;
}

.sprite-icon__footer_youtube-social {
  width: 22px;
  height: 15px;
}

@media (min-width: 991.98px) {
  .footer__social-item:hover {
    background-color: #4b4732;
  }
}

@media (max-width: 1245.98px) {
  .footer__block-social {
    width: 100%;
    position: unset;
    bottom: unset;
    left: unset;
    margin-left: unset;
    margin-top: 20px;
  }
}

@media (max-width: 991.98px) {
  .footer__block-nav {
    padding-top: 0px;
    margin-right: 10px;
  }

  .footer__nav-block {
    -webkit-transform: translate(0px, 50px);
        -ms-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }

  .footer__block-contacts {
    padding-top: 0px;
    -webkit-transform: translate(0px, 50px);
        -ms-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }

  .footer__logo {
    position: unset !important;
    left: unset !important;
    margin-left: unset !important;
    margin-right: 10px;
  }

  .footer__block-social p {
    line-height: 157.1428571429%;
  }
}

@media (max-width: 767.98px) {
  .footer {
    padding: 40px 0 35px 0;
  }

  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__block-nav {
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .footer__nav-block {
    -webkit-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }

  .footer__nav-block:not(:last-child) {
    margin-right: 80px;
  }

  .footer__block-contacts .header-contact:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0px;
  }

  .footer__block-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__block-social p {
    text-align: center;
  }

  .footer__block-social {
    margin-top: 40px;
  }

  .footer__social-items a {
    -webkit-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
}

@media (max-width: 479.98px) {
  .footer__block-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__nav-block:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 359.98px) {
  .footer__block-contacts .header-contact:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .footer__block-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}