.header-block {
  padding: 40px 0 15px;
  position: relative;
  z-index: 1000;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 92.2px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__block-contacts {
  -webkit-transition: var(--appearance__transition);
  -o-transition: var(--appearance__transition);
  transition: var(--appearance__transition);
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
}

.header__block-contacts._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-contact:not(:last-child) {
  margin-right: 50px;
}

.header-contact p {
  font-size: 11px;
  line-height: 127.2727272727%;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contact__link a {
  font-size: 15px;
  line-height: 120%;
  color: #FFC14B;
}

.header-contact__link::after {
  background-color: #FFC14B;
}

.sprite-icon__header_phone {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--appearance__transition);
  -o-transition: var(--appearance__transition);
  transition: var(--appearance__transition);
  -webkit-transform: translate(120%, 0px);
      -ms-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  opacity: 0;
}

.header-actions._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.header-actions__simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 9px;
}

.header-action:not(:last-child) {
  margin-right: 9px;
}

.header-action button {
  min-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 13px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 100%;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
}

.header-action button:hover {
  background: rgba(0, 0, 0, 0.15);
}

.sprite-icon__header_enter {
  width: 16px;
  height: 16px;
  margin-right: 18px;
}

.header-action__burger {
  position: relative;
  cursor: pointer;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
}

.header-action__burger:hover {
  background: rgba(0, 0, 0, 0.15);
}

.header-action__burger.active .header__burger-button:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-top: -1px;
}

.header-action__burger.active .header__burger-button:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
}

.header-action__burger.active .header__burger-button span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__burger-button {
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 18px;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
}

.header__burger-button::before,
.header__burger-button::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: #FFFFFF;
  height: 2px;
  border-radius: 8px;
  width: 100%;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
}

.header__burger-button::before {
  top: 0;
}

.header__burger-button::after {
  bottom: 0;
}

.header__burger-button span {
  position: absolute;
  right: 0;
  top: 8px;
  background-color: #FFC14B;
  height: 2px;
  border-radius: 8px;
  width: 17px;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
}

.header__burger-menu {
  display: block;
  position: fixed;
  z-index: 100;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #272727;
  padding: 195px 0px 30px;
  overflow: auto;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
}

.header__burger-menu.active {
  left: 0;
}

.burger-menu__title {
  font-size: 48px;
  line-height: 150%;
  font-weight: 500;
}

.burger-menu__navigation {
  margin-top: 15px;
  padding: 15px 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.29);
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-nav__column:not(:last-child) {
  margin-right: 15px;
}

.column-nav__item {
  margin-top: 20px;
}

.column-nav__link {
  font-size: 24px;
  line-height: 154.1666666667%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.column-nav__link::after {
  background-color: #ffffff;
}

.sprite-icon__header_vector-menu {
  width: 12px;
  height: 6px;
  display: none;
  -webkit-transition: var(--default__transition);
  -o-transition: var(--default__transition);
  transition: var(--default__transition);
  margin: 0 0 0 8px;
}

.drop-down__block-nav {
  position: relative;
}

.drop-down__button {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 154.1666666667%;
  text-transform: uppercase;
  color: #FFFFFF;
  pointer-events: none;
}

.drop-down__content-nav {
  margin-top: 10px;
}

.drop-down__list-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.drop-down__list-nav a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 306.25%;
}

.drop-down__list-nav a::after {
  background-color: #ffffff;
  bottom: 10px !important;
}

.burger-menu__contacts {
  display: none;
}

@media (max-width: 1145.98px) {
  .header-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-contact:not(:last-child) {
    margin-right: unset;
    margin-bottom: 10px;
  }
}

@media (max-width: 991.98px) {
  .header-block {
    padding: 30px 0 15px;
  }

  .header__container {
    min-height: 69px;
  }

  .header__burger-menu {
    padding: 120px 0px 20px;
  }

  .burger-menu__title {
    font-size: 24px;
    line-height: 200%;
  }

  .burger-menu__navigation {
    padding: 0;
    margin-top: 0;
  }

  .column-nav__item {
    margin-top: 10px;
  }

  .column-nav__link {
    font-size: 18px;
    line-height: 205.5555555556%;
  }

  .drop-down__button {
    font-size: 18px;
    line-height: 205.5555555556%;
  }

  .drop-down__list-nav a {
    font-size: 14px;
    line-height: 285.7142857143%;
  }
}

@media (max-width: 767.98px) {
  .header__container.active-burger .header-logo {
    display: none;
  }

  .header__container.active-burger .action-language {
    display: block;
  }

  .header__container.active-burger .action-enter__button span {
    display: inline-block;
  }

  .header__container.active-burger .action-enter__button .sprite-icon__header_enter {
    margin-right: 18px;
  }

  .header-contacts {
    display: none;
  }

  .header-actions {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }

  .header-actions._active {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .header-actions__simple {
    margin-right: 0px;
  }

  .header-action button {
    padding: 15px 14px;
  }

  .action-language {
    display: none;
  }

  .action-enter__button span {
    display: none;
  }

  .sprite-icon__header_enter {
    margin-right: 0;
  }

  .menu-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu-nav__column:not(:last-child) {
    margin-right: 0;
  }

  .sprite-icon__header_vector-menu {
    display: block;
  }

  .drop-down__block-nav.active .drop-down__content-nav {
    display: block;
  }

  .drop-down__block-nav.active .drop-down__button svg {
    -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
            transform: scaleY(-1);
  }

  .drop-down__button {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .drop-down__content-nav {
    display: none;
  }

  .burger-menu__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 24px;
    margin-top: 15px;
    border-top: 1px solid #666666;
  }

  .burger-menu__contacts .header-contact:not(:last-child) {
    margin-right: 20px;
  }

  .burger-menu__contacts .header-contact__link {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .burger-menu__contacts .header-contact__link:not(:last-child) {
    margin-bottom: 7px;
  }
}

@media (max-width: 479.98px) {
  .header-block {
    padding: 20px 0 10px;
  }

  .header-action__burger {
    padding: 12px;
  }

  .header__burger-button span {
    width: 15px;
    top: 7px;
  }

  .header__burger-button {
    width: 21px;
    height: 16px;
  }

  .header__burger-menu {
    padding: 100px 0px 20px;
  }

  .burger-menu__navigation {
    border-top: unset;
  }
}

@media (max-width: 349.98px) {
  .burger-menu__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .burger-menu__contacts .header-contact:not(:last-child) {
    margin-right: 0;
  }
}