/* ---------------------------MAIN-ROOMS-enumeration----------------------------------------------------- */

.rooms-enumeration__title:not(:last-child) {
  margin-bottom: 20px !important;
}

.enumeration-lists {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.enumeration-lists__block {
  display: block;
  max-width: 528px;
}

.enumeration-lists__block:not(:last-child) {
  margin-right: 90px;
}

.enumeration-lists__item {
  font-size: 14px;
  line-height: 142.8571428571%;
  font-weight: 300;
  padding-left: 26px;
  position: relative;
}

.enumeration-lists__item:not(:last-child) {
  margin-bottom: 15px;
}

.enumeration-lists__item span {
  font-weight: 700;
  color: #FFC14B;
}

.enumeration-lists__item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 14px;
  height: 3px;
  background-color: #FFC14B;
  border-radius: 33px;
}

/* ---------------------------MAIN-ROOMS-apart----------------------------------------------------- */

.main__rooms-apart {
  padding: 65px 0 100px 0;
  background: rgba(23, 23, 23, 0.9);
}

.rooms-apart__cards {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
}

.hidden-rooms {
  display: none;
}

.rooms-card__img {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  padding: 0 0 55% 0;
  margin-bottom: 10px;
}

.rooms-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
}

.rooms-card__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 128.5714285714%;
  font-weight: 600;
  color: #FFC14B;
}

.rooms-card__title:not(:last-child) {
  margin-bottom: 5px;
}

.rooms-card__subtitle {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 142.8571428571%;
}

.rooms-card__subtitle:not(:last-child) {
  margin-bottom: 5px;
}

.rooms-card__intro {
  font-size: 14px;
  line-height: 142.8571428571%;
  letter-spacing: 0.56px;
}

.rooms-apart__button {
  display: none !important;
  margin: 30px auto 0;
}

/* ---------------------------MAIN-ROOMS-rules----------------------------------------------------- */

.main__rooms-rules {
  padding: 50px 0 80px;
}

.rooms-rules__block {
  display: -ms-grid;
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.rule-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.rule-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 114px;
  height: 114px;
  background: rgba(23, 23, 23, 0.9);
  border-radius: 10px;
}

.rule-item__info {
  font-size: 14px;
  line-height: 142.8571428571%;
  letter-spacing: 0.56px;
  margin-top: 30px;
}

.rule-item__icon-common {
  width: 60px;
  height: 60px;
}

@media (max-width: 1145.98px) {
  .enumeration-lists__block {
    max-width: 488px;
  }

  .enumeration-lists__block:not(:last-child) {
    margin-right: 50px;
  }
}

@media (max-width: 991.98px) {
  .rooms-enumeration__title:not(:last-child) {
    margin-bottom: 15px !important;
  }

  .enumeration-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .enumeration-lists__block {
    max-width: unset;
  }

  .enumeration-lists__block:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .rooms-rules__block {
    gap: 45px;
  }
}

@media (max-width: 767.98px) {
  .main__rooms-apart {
    padding: 35px 0 60px 0;
  }

  .rooms-apart__cards {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
  }

  .rooms-apart__button {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .main__rooms-rules {
    padding: 35px 0 60px;
  }
}

@media (max-width: 479.98px) {
  .main__rooms-apart {
    padding: 30px 0 40px 0;
  }

  .main__rooms-rules {
    padding: 30px 0 40px;
  }

  .rooms-rules__block {
    gap: 30px;
  }
}